<%- contentFor('body') %>
<center>
    <div id="contato">
        <form name="entre_contato">

            <h1>Entre em contato</h1>
          
            <input type="text" id="nomeid" placeholder="Informe seu nome" required="required" name="nome" />
        
            <input type="tel" id="foneid" placeholder="(xx)xx-xx-xx-xx" name="fone" />
      
            <input type="email" id="emailid" placeholder="exemplo@mail.com" name="email" />
          
            <textarea placeholder="Deixe sua opnião"></textarea>
          
            <button class="btn btn-outline-dark" id="btnContato">Enviar</button>  
          </form>
    </div>
</center>
<script src="js/index.js"></script>