<%- contentFor('body') %>
<center>
<div id="capa">
    <p>Projeto realizado na Universidade de Fortaleza. </p>
        <p>Conheça a equipe envolvida no projeto.</p> 
    <button id="btnEquipe" class="btn btn-outline-dark" onclick="">Equipe</button>
</div>
</center>
<div id="equipe" class="equipe">
   <h1 class="light center"><%= saida %></h1>
    <a href="https://github.com/May199"><img src="http://localhost:3000/assets/github.png"/></a>
    <span><%= user1 %></span>
    <a href=""><img src="http://localhost:3000/assets/github.png"/></a> 
    <span><%= user2 %></span>
</div>


<script src="http://localhost:3000/js/index.js"></script>